beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
cloudinary==1.29.0
colorama==0.4.5
distlib==0.3.6
filelock==3.4.1
gdown==4.5.1
googledrivedownloader==0.4
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
platformdirs==2.4.0
PySocks==1.7.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.0
typing-extensions==4.1.1
urllib3==1.26.9
virtualenv==20.16.4
wget==3.2
zipp==3.6.0
